
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

#rButton{
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #333;
}

#myHeader{
    background-color: #f0ad4e;
}

a,
button {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a i.fa,
button i.fa {
    margin: 0 5px;
}
.clickable {
    cursor: pointer;
}
p.lead {
    font-weight: 300;
}
h1 {
    font-weight: 700;
    font-size: 40px;
}

.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.box .box-header {
    background: #f7f7f7;
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: solid 1px #eeeeee;
}
.box .box-header:before,
.box .box-header:after {
    content: " ";
    display: table;
}
.box .box-header:after {
    clear: both;
}
.box .box-footer {
    background: #f7f7f7;
    margin: 30px -20px -20px;
    padding: 20px;
    border-top: solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after {
    content: " ";
    display: table;
}
.box .box-footer:after {
    clear: both;
}
@media (max-width: 991px) {
    .box .box-footer .btn {
        margin-bottom: 20px;
    }
}
.box.slideshow {
    padding: 20px 0 0 0;
    text-align: center;
}
.box.slideshow h3 {
    text-transform: uppercase;
    font-weight: 700;
}
#style-switch-button {
    position: fixed;
    top: 80px;
    left: 20px;
}
#style-switch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 120px;
    left: 20px;
    background: #fff;
    border: solid 1px #eeeeee;
}

/* scaffolding */
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #f0f0f0;
}

.btn {
    font-weight: normal;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #4fbfa8;
    border-color: #41b39c;
}
.btn-primary .badge {
    color: #4fbfa8;
    background-color: #ffffff;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 4px;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
label {
    font-weight: normal;
}
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-group {
    margin-bottom: 20px;
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
p,
ul,
ol {
    margin: 0 0 20px;
}
.lead {
    margin-bottom: 20px;
    font-size: 16px;
}
@media (min-width: 768px) {
    .lead {
        font-size: 21px;
    }
}
.text-small {
    font-size: 12px;
}
.text-large {
    font-size: 18px;
}
.text-italic {
    font-style: italic;
}

.bg-primary {
    color: #fff;
    background-color: #4fbfa8;
}
a.bg-primary:hover {
    background-color: #3aa18c;
}
abbr[title],
abbr[data-original-title] {
    border-bottom: 1px dotted #999999;
}
.blockquote-reverse,
blockquote.pull-right {
    border-right: 5px solid #4fbfa8;
}
#headersearch {
    position: absolute;
    /*  top: 2em;*/
    right: 5px;
    float: right;
}

#registerbox{
    /*    float:left;
        left:30px;*/

    margin: auto;
    position: absolute;
    left: 0;
    right: 0;

    border-color: #f0ad4e;
}
#srch-term{

}


