<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/mydb?useUnicode=yes&amp;characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Category"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.CateringDetails"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.User"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Catering"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.OrderDetailsId"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Cook"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Tags"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.OrderDetails"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Order"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.MenuItems"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.DocumentType"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.StatusHasOrder"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.CookStatus"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.StatusHasOrderId"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Customer"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Role"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.OrderStatus"/>
    <mapping class="com.iti.jet.gp.etbo5ly.model.pojo.Document"/>
  </session-factory>
  
  
  
</hibernate-configuration>
